body {
    background-color: #570a8f;
} 

 .mobileDiv{
    display:none;
  }

@media only screen and (max-width: 1199px) {
  iframe {
        max-width: 100% !important;
    }
    .deskDiv{
    display:none;
  }
  .mobileDiv{
    display: block;
  }
}